/*commit 2*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contenedor1{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 20px;
}

/*commit 3*/
.contenedor2 p{
    color: blueviolet;
}
.contenedor2{
    margin: 10px;
}

/*commit 4*/
th, td {
    border: 1px solid black;
    background-color: rgba(170, 170, 170, 0.601);
    padding: 10px;
}
.col1{
    background-color:red;
}
table{
    border-collapse: collapse;
   
}

.contenedor3{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*commit 5*/
.lista{
    
    background-color:rgba(170, 170, 170, 0.601);
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fila{
    color: black;
}
